@page "/KhongDuocTruyCap.html"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Cấm không được truy cập";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn không được phép truyc cập</p>
</header>
